@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100vh;
    background-color: #121212;
    color: #d1d1d1;
}

.todo-app {
    min-width: 450px;
    background-color: #1f1f1f;
    border-radius: 1rem;
}

.todo-app h1 {
    font-size: 3rem;
    padding: 2rem;
    text-align: center;
}

#todo-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

#todo-input {
    min-width: 350px;
    height: 50px;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    margin: 0.5rem;
    background-color: #2d3748;
    cursor: pointer;
    color: #d1d1d1;
}

.addBtn {
    min-width: 100px;
    height: 50px;
    padding: 0.5rem;
    border-radius: 10px;
    margin: 0.5rem;
    background-color: #2d3748;
    color: #d1d1d1;
}

.addBtn:hover {
    background-color: #4A5568;
    transform: scale(1.1);
    color: #F7FAFC;
}

.list {
    list-style-type: none;
    padding: 0 1rem 1rem;
    margin: 0.5rem;
}

.mission {
    text-align: center;
    padding: 1rem 1rem;
    font-size: 1.5rem;
}

.list input {
    transform: scale(1.15);
    transform-origin: top left;
    margin: 10px;
}

.todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 460px;
}

.list li label {
    font-size: 18px;
}

.button-group {
    display: flex;
    gap: 8px
}

.editBtn {
    background-color: #00BFFF;
    width: 60px;
    height: 30px;
    border-radius: 5px;
}

.delBtn {
    background-color: #F87171;
    width: 60px;
    height: 30px;
    border-radius: 5px;
}

.editBtn:hover {
    background-color: #1EC8FF;
    transform: scale(1.1);
}

.delBtn:hover {
    background-color: #FB9A9A;
    transform: scale(1.1);
}

.addBtn, .editBtn, .delBtn {
    cursor: pointer;
    transition: all 0.2s ease;
}

.addBtn:focus,
.editBtn:focus,
.delBtn:focus {
    outline: none;
    box-shadow: 0 0 0 2px #4A5568; /* or whatever color you like */
}